body{
    background: linear-gradient(135deg, #1e3a8a, #277be7f3);
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding-bottom: 80px;
}
.dice-background{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:0;
}
.dice-background img{
    position:absolute;
    width:60px;
    opacity:0.15;
    animation: floatDice 10s linear infinite;
}
.dice-background img:nth-child(1){ left:10%; animation-duration:12s;}
.dice-background img:nth-child(2){ left:30%; animation-duration:15s;}
.dice-background img:nth-child(3){ left:50%; animation-duration:18s;}
.dice-background img:nth-child(4){ left:70%; animation-duration:10s;}
.dice-background img:nth-child(5){ left:85%; animation-duration:14s;}
.dice-background img:nth-child(6){ left:20%; animation-duration:16s;
}
#container{
    position: relative;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0,2);
    backdrop-filter: blur(10px);
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 15px;
    border:none;
    background-color: hsl(210, 62%, 16%);
    color: azure;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color: hsl(211, 41%, 42%);
    box-shadow: 0px 0px 15px rgba(255,255,255,0.6);
    transform: scale(1.06);
}
button:active{
    background-color: hsl(211, 73%, 66%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin:25px;
}
#diceImages{
    margin: 10px;
}
#diceImages img{
    width: 80px;
    margin:5px;
    animation: shake 0.6s ease;
    transition: transform 0.2s; filter: 0.2s;
}
#diceImages img:hover{
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 10px gold);
}
footer{
    position: fixed;
    bottom: 20px;
    left: 0;
    width:100%;
    text-align:center;
    color:white;
    font-size:1.4rem;
    padding: 10px 0;
    opacity:0.7;
    z-index: 20;
    text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 20px #60a5fa,
    0 0 40px #1e3a8a;
    animation: glow 3s ease-in-out infinite alternate;
}
@keyframes shake{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg);}
    75%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
@keyframes floatDice{
    0%{
        transform: translateY(100vh) rotate(0deg);
    }
    100%{
        transform: translateY(-10vh) rotate(360deg);
    }
}
@keyframes glow{
    from{
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #60a5fa;
}
to{
    text-shadow:
    0 0 10px #fff,
    0 0 20px #60a5fa,
    0 0 40px #1e3a8a;
}
}