#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    margin: auto;
    margin-top:50px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0,2);
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 15px;
    border:none;
    background-color: hsl(210, 62%, 16%);
    color: azure;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color: hsl(211, 41%, 42%);
}
button:active{
    background-color: hsl(211, 73%, 66%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin:25px;
}
#diceImages{
    margin: 10px;
}
#diceImages img{
    width: 80px;
    margin:5px;
    animation: shake 0.4 ease;
}
@keyframes shake{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(-10);}
    75%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
